body {
    /* background-image: url("https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff; */

    /* transform: matrix(0.5, 1, 1, 0.5, 10, 10); */

    /*
        scaleX(),
        skewY(),
        skewX(),
        scaleY(),
        translateX(),
        translateY()
    */
}

#box {
    width: 200px;
    height: 200px;
    margin: 0 auto; 
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    background-color: aqua;
    /* animation: MyBoxAnimatio; */
    animation: myRowAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* @keyframes MyBoxAnimatio {
    0%{background-color: aqua;}
    20%{background-color:red}
    40%{background-color: green}
    60%{background-color: pink}
    80%{background-color: yellow}
    100%{background-color:brown}
} */

    @keyframes myRowAnimation {
        0%{opacity: 0}
        50%{opacity: 1}
        100%{opacity:0}
    }

.text {
    margin-top: 100px;
    background-color: aqua;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    /* align-items: flex-end; */
    justify-content: flex-end;
}

.text p {
    background-color:blueviolet;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

